body {
    /* Зачаровать шрифты */
    font-family: system-ui;
    font-variant-ligatures: none;
    background-color: #161616;

    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    min-height: 100vh;
}
